.search-input {
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 1rem;
    gap: 0.5rem;
    transition: background-color 0.2s, color 0.2s;
    width: 30vh;
    transition: width 0.5s ease;
}

.search-icon {
    height: 2rem;
    filter: invert(100%);
    /* color: white; */
    border: none;
    padding: 0.5rem 0rem 0.5rem 0.5rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    /* cursor: pointer; */
    font-size: 0.9rem;
    /* transition: background-color 0.2s, color 0.2s; */
}

input {
    background-color: #555;
    color: white;
    border: none;
    padding: 0.5rem 0.5rem 0.5rem 0.25rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    font-size: 0.9rem;
    transition: background-color 0.2s, color 0.2s;
    width: 100%;
}

.search-input.notempty {
    border-bottom-left-radius: 0rem;
    border-bottom-right-radius: 0rem;
}

.search-input:focus-within {
    /* outline: 2px solid #2684FF;  */
    outline-offset: 0px;
    background-color: rgba(34, 34, 34); 
    width: 50vh;
}

input:focus {
    outline: none;
    box-shadow: none; /* Some browsers use box-shadow for focus */
    background-color: rgba(34, 34, 34); 
}