
.stock-card {
    width: 100%;
    height: 100%;
    background-color: #444; /* slight contrast from page */
    border-radius: 1rem; /* nicely rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* subtle soft shadow */
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding: 1rem;
    transition: transform 0.2s ease-in-out;
  }
  
  .stock-card:hover {
    transform: scale(1.02); 
    /* background-color: rgb(34, 34, 34); */
    cursor: pointer;
  }
  
  .stock-chart {
    width: 100%;
  }

  .stock-chart.main-chart {
      min-height: 14rem; 
  }

  .stock-chart.small {
      min-height: 7rem; 
  }

  canvas {
    width: 100% !important;
    /* height: 100% !important; */
    border-radius: 1rem; /* optional if you want canvas to also have rounded edges */
  }
  
  h1 {
    color: white;
    size: 2rem;
  }

  .company {
    white-space: nowrap;
  }

  .row {
    margin: 0;
    padding: 0.1rem;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    gap: 0.5rem;
    min-height: 1.25rem;
  }

  .small-row {
    margin: 0;
    width: 100%;
    padding: 0.1rem;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    gap: 0.5rem;
    min-height: 1.25rem;
  }

  .stock-info {
    margin: 0;
    padding: 0.1rem;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    gap: 0.5rem;
    min-height: 1.25rem;
  }

  .custom-legend {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.5rem;
    /* margin-left: 0.75rem; */
    padding: 0.1rem;
    min-height: 1.25rem;
  }

  .legend-label {
    color: white;
    font-size: 0.75rem;
    /* font-weight: 500; */
  }

  .legend-color-box {
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-right: 2px;
    border-radius: 2px;
    /* border: 1px solid #ccc; */
  }

  div .stock-card-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: 0.25rem;
    min-height: 2.5rem;
  }

  .stock-header-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }

  .model-outlook {
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    flex-direction: row;
    /* margin-top: 0.5rem; */
  }

  .tooltip-container {
    position: relative;
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
  }
  
  .question-icon {
    background-color: transparent;
    filter: invert(100%);
    width: 16px;
    height: 16px;
    cursor: pointer;
    
  }
  
  .tooltip-text {
    visibility: hidden;
    width: 220px;
    background-color: #333;
    color: #fff;
    text-align: left;
    padding: 8px;
    border-radius: 4px;
    position: absolute;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 0.75rem;
    white-space: normal;
  }
  
  .tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }
  

  img {
    /* width: 50px; */
    height: 2.25rem;
    width: 2.25rem;
    /* width: auto; */
    object-fit: contain;
    margin-right: 0.5rem;
    border-radius: 20%;
    background-color: white;
  }