<div class='stock-card'>
    @if (stockEntry) {
        <div class="stock-card-header">
            <div class="row">
                <h1>{{ stockEntry.ticker }}</h1>
                <img src="{{stockEntry.img}}" alt=""/>
            </div>
            <div class="row">
                <p>{{stockEntry.company}}</p>
            @if (stockEntry.returns) {
                <p [style.color]="stockEntry.returns > 0 ? 'green' : (stockEntry.returns < 0 ? 'red' : 'black')">
                    {{ stockEntry.returns > 0 ? '+' + stockEntry.returns : stockEntry.returns }}%
                </p>
            }
            </div>
        </div>
        <div class="stock-chart">
            <canvas baseChart
                [data]="chartData"
                [options]="chartOptions"
                [type]="'line'">
            </canvas>
        </div>
    }
</div>
  