<div class='stock-card'>
    @if (stockEntry != null) {
        <div class="stock-card-header">
            <div class="row">
                <h1>{{ stockEntry.ticker }}</h1>
                <img src="{{stockEntry.img}}" alt=""/>
            </div>
            <div class="row">
                <p>{{stockEntry.company}}</p>
            @if (stockEntry.returns) {
                <p [style.color]="stockEntry.returns > 0 ? 'green' : (stockEntry.returns < 0 ? 'red' : 'black')">
                    {{ stockEntry.returns > 0 ? '+' + stockEntry.returns : stockEntry.returns }}%
                </p>
            }
            </div>
        </div>
        <div class="stock-chart" [ngClass]="{
            'full-height': rsiChartData.datasets.length === 0 && macdChartData.datasets.length === 0,
            'main-chart': rsiChartData.datasets.length > 0 || macdChartData.datasets.length > 0
          }">
            <!-- stock-card.component.html -->
            <div *ngIf="loadingChart">Loading chart...</div>
            <canvas baseChart
                    [data]="mainChartData"
                    [options]="mainChartOptions"
                    [type]="'line'"
                    *ngIf="!loadingChart">
            </canvas>

        </div>
        @if(rsiChartData.datasets.length > 0) {
            <div class="stock-chart small">
                <!-- stock-card.component.html -->
                <div *ngIf="loadingChart">Loading chart...</div>
                <canvas baseChart
                        [data]="rsiChartData"
                        [options]="rsiChartOptions"
                        [type]="'line'"
                        *ngIf="!loadingChart">
                </canvas>

            </div>
        }
        @if(macdChartData.datasets.length > 0) {
            <div class="stock-chart small">
                <!-- stock-card.component.html -->
                <div *ngIf="loadingChart">Loading chart...</div>
                <canvas baseChart
                        [data]="macdChartData"
                        [options]="macdChartOptions"
                        [type]="'line'"
                        *ngIf="!loadingChart">
                </canvas>

            </div>
        }
    }
</div>
  