<div class="stock-list-view">
  <div class="header">
    <h1>Stock Performance</h1>
    <div class="selection-bar">
      <div class="selection-section">
        <div class="dropdown" #searchRef>
          <app-search-input (textChange)="onTextChange($event)"></app-search-input>
          <div class="dropdown-menu" *ngIf="searchStocks.length > 0 && searchDropdownOpen">
            <button *ngFor="let stock of searchStocks">
              <span class="stock-name">{{ stock.company }}</span>
              <span class="stock-ticker">{{ stock.ticker }}</span>
              <span
                class="stock-returns"
                [style.color]="stock.returns > 0 ? 'green' : (stock.returns < 0 ? 'red' : 'black')"
              >
                {{ stock.returns > 0 ? '+' + stock.returns : stock.returns }}
              </span>
            </button>
          </div>
        </div>
      </div>
      <div class="selection-section">
        <p>Industry</p>
        <div class="dropdown" #dropdownRef>
          <button (click)="toggleDropdown()" [class.selected]="dropdownOpen">
            {{ selectedCategory }}
            <span class="arrow" [class.open]="dropdownOpen" [innerHTML]="dropdownOpen ? '&#9662;' : '&#9656;'"></span>

          </button>
          <div class="dropdown-menu" *ngIf="dropdownOpen">
            <button 
              *ngFor="let option of categoryOptions" 
              (click)="onSelectCategory(option)"
              [class.selected]="option === selectedCategory"
            >
              {{ option }}
            </button>
          </div>
        </div>
      </div>
      <div class="selection-section">
        <p>Time Range</p>
        <div class="time-period-row">
          @for(period of timePeriods; track period) {
            <button 
              [class.selected]="period === selectedPeriod"
              (click)="onSelectPeriod(period)">
              {{ period }}
            </button>
          }
        </div>
      </div>
      <div class="selection-section">
        <p>Indicators</p>
        <div class="time-period-row">
          @for(ind of indicators; track ind) {
            <button 
              [class.selected]="selectedIndicators.includes(ind)"
              (click)="onSelectIndicator(ind)">
              {{ ind }}
            </button>
          }
        </div>
      </div>
    </div>
  </div>
  @if(loading) { 
    <div class="loading-spinner">
      <img class='loading-gif' src="loading.gif" alt="Loading..." />
    </div>
  } @else {
    <div class="stock-list" *ngIf="stock_names">
      <div class="stock-grid">
        @for (stock of paginatedStocks; track stock.id) {
          <app-stock-card
          [date]="selectedDate"
          [stockEntry]="stock">
        </app-stock-card>
        }
      </div>
    </div>
  }
  <div class="pagination-controls">
    <button (click) = "firstPage()" [disabled]="currentPage === 0" class="pagination-button">
      First Page
    </button>
    <button (click)="prevPage()" [disabled]="currentPage === 0" class="pagination-button">
      <img src="rightarrow.png" alt="Previous" class="arrow-icon" />
    </button>
    <span class="pagination-text">Page {{ currentPage + 1 }}</span>
    <button (click)="nextPage()" [disabled]="(currentPage + 1) * pageSize >= totalStocks" class="pagination-button">
      <img src="leftarrow.png" alt="Next" class="arrow-icon" />
    </button>
    <button (click)="lastPage()" [disabled]="(currentPage + 1) * pageSize >= totalStocks" class="pagination-button">
      Last Page
    </button>
  </div>
  
  
</div>
